<app-loading *ngIf="!clients"></app-loading>
<h2 *ngIf="clients && clients.length == 0 ">No se e encontraron clientes</h2>
<table *ngIf="clients && clients.length > 0 ">
    <thead>
        <tr>
            <th>nombre</th>
            <th>Prestamos</th>
            <th>estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of this.clients">
            <td (click)="clientEdit(client.id)" class="pointer"> {{client.name}}</td>
            <td>{{client.number_loans}}</td>
            <td>{{client.id_loan_state}}</td>
        </tr>
    </tbody>
</table>