<table>
    <thead>
        <tr>
            <th>cliente</th>
            <th>creado</th>
            <th>actualizado</th>
            <th>inicial</th>
            <th>interes</th>
            <th>cuotas</th>
            <th>saldo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prestamo of this.data">
            <td>{{prestamo.id}}</td>
            <td>{{prestamo.create_at}}</td>
            <td>{{prestamo.update_at}}</td>
            <td>{{prestamo.initial_value}}</td>
            <td>{{prestamo.interest}}</td>
            <td>{{prestamo.quota}}</td>
            <td>{{prestamo.balance}}</td>
        </tr>
    </tbody>
</table>