<app-loading *ngIf="!data"></app-loading>
<form class="col-8 offset-2 text-left" *ngIf="data" autocomplete="off" (ngSubmit)="onAction()" [formGroup]="forma">

    <div class="form-group row" *ngIf="data.id">
        <label class="col-4 col-form-label" for="id">ID:</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="nombre" formControlName="id">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label" for="id_collection">Cobro:</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="nombre" formControlName="id_collection" [class.is-invalid]="id_collectionInvalid">
            <span class="text-danger" *ngIf="id_collectionInvalid">
        cobro no valido
      </span>
        </div>
    </div>
    <div class="form-group row" *ngIf="data.id">
        <label class="col-4 col-form-label" for="id_user">Registrado por:</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="nombre" formControlName="id_user" [class.is-invalid]="id_userInvalid">
            <span class="text-danger" *ngIf="id_userInvalid">
        usuario no valido
      </span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label" for="id_loan">Prestamo:</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="nombre" formControlName="id_loan" [class.is-invalid]="id_loanInvalid">
            <span class="text-danger" *ngIf="id_loanInvalid">
        prestamo no valido
      </span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label" for="money">Valor:</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="nombre" formControlName="money" [class.is-invalid]="moneyInvalid">
            <span class="text-danger" *ngIf="moneyInvalid">
        valor no valido
      </span>
        </div>
    </div>

    <div class="form-group row">
        <app-button-create-edit class="col-md-8 input-group" [id]="data.id" (onCancel)="cancel()"></app-button-create-edit>
    </div>
    <pre *ngIf="debug">
      {{forma.status}}
      {{forma.value | json}}
    </pre>
</form>