<h3>Cobro:{{collectionSelect.description}} __{{collectionSelect.id}}</h3>
<div class="card-columns">
    <div class="card" *ngFor="let dat of collections">
        <div class="card-header"># {{dat.id}}</div>
        <div class="card-body">
            <h5 class="card-title">{{dat.description}}</h5>
            <p class="card-text">{{dat.actived |actived}}</p>
            <button class="btn btn-primary" type="button" (click)="selectColletion(dat.id,dat.description)" [disabled]="!dat.actived" *ngIf="dat.actived">Selecionar</button>
        </div>
    </div>
</div>