<nav class="nav">
    <ul>
        <li routerLinkActive="active" class="subitem1"><a [routerLink]="['/cliente']">Cliente</a>
            <ul class="sub-group-item1">
                <li routerLinkActive="active">
                    <a [routerLink]="['/cliente','nuevo']">nuevo</a>
                </li>
                <!-- <li routerLinkActive="active">
                    <a [routerLink]="['cliente','editar']">editar</a>
                </li> -->
            </ul>
        </li>

        <li routerLinkActive="active" class="subitem1"><a [routerLink]="['/prestamo']">prestamo</a>
            <ul class="sub-group-item1">
                <li routerLinkActive="active">
                    <a [routerLink]="['/prestamo','nuevo']">nuevo</a>
                </li>
                <!-- <li routerLinkActive="active">
                    <a [routerLink]="['prestamo','editar']">editar</a>
                </li> -->
            </ul>
        </li>
        <li routerLinkActive="active" class="subitem1"><a [routerLink]="['caja']">Caja</a>
            <ul class="sub-group-item1">
                <li routerLinkActive="active">
                    <a [routerLink]="['caja' ,'gastos']">gastos</a>
                    <ul class="sub-group-item2">
                        <li routerLinkActive="active">
                            <a [routerLink]="['caja' ,'gastos','nuevo']">nuevo</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['caja' ,'gastos','buscar']">buscar</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['caja' ,'gastos','items']">items</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['caja','ingresos']">ingresos</a>
                    <ul class="sub-group-item2">
                        <li routerLinkActive="active">
                            <a [routerLink]="['caja','ingresos','nuevo']">nuevo</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['caja','ingresos','buscar']">buscar</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['caja','ingresos','items']">items</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['historial']">movimentos</a>
                    <ul class="sub-group-item2">
                        <li routerLinkActive="active">
                            <a [routerLink]="['historial','nuevo']">nuevo</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li routerLinkActive="active" class="subitem1"><a [routerLink]="['calculator']">Calculos</a></li>
        <li routerLinkActive="active" class="subitem1"><a [routerLink]="['config']">Configuracion</a>
            <ul class="sub-group-item1">
                <li routerLinkActive="active">
                    <a [routerLink]="['config']">prestamos</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['config']">gastos</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['config']">ingresos</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/usuario','lista']">cobradores</a>
                    <ul class="sub-group-item2">
                        <li routerLinkActive="active">
                            <a [routerLink]="['/usuario','nuevo']">nuevo</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a (click)="logOut()" [routerLink]="['/login']">salir</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>