<app-loading *ngIf="!data"></app-loading>
<form class="col-8 offset-2 text-left" *ngIf="data" autocomplete="off" (ngSubmit)="onAction()" [formGroup]="forma">

    <div class="form-group row" *ngIf="data.id">
        <label class="col-4 col-form-label" for="id">ID:</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="nombre" formControlName="id">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label" for="actived">Activo:</label>
        <div class="col-7">
            <input class="form-control" type="checkbox" formControlName="actived" [class.is-invalid]="activedInvalid">
            <span class="text-danger" *ngIf="activedInvalid">
        registre actived
      </span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label" for="description">Name cobro:</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="descripcion" formControlName="description" [class.is-invalid]="descriptionInvalid">
            <span class="text-danger" *ngIf="descriptionInvalid">
        descripcion no valido
      </span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label" for="balance_total">Saldo:</label>
        <div class="col-8">
            <input class="form-control" type="number" placeholder="0" formControlName="balance_total" [class.is-invalid]="balance_totalInvalid">
            <span class="text-danger" *ngIf="balance_totalInvalid">
        saldo no valido
      </span>
        </div>
    </div>

    <div class="form-group row">
        <app-button-create-edit class="col-md-8 input-group" [id]="data.id" (onCancel)="cancel()"></app-button-create-edit>
    </div>
    <pre *ngIf="debug">
      {{forma.status}}
      {{forma.value | json}}
    </pre>
</form>