<app-loading *ngIf="!data"></app-loading>
<form class="col-8 offset-2 text-left" *ngIf="data" autocomplete="off" (ngSubmit)="onAction()" [formGroup]="forma">

    <div class="form-group row" *ngIf="data.id">
        <label class="col-4 col-form-label" for="id">ID:</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="nombre" formControlName="id">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label r" for="id_collection">Cobro:</label>
        <div class="col-8">
            <select class="form-control" formControlName="id_collection" type="number" [ngClass]="{'is-invalid':id_collectionInvalid}">
        <option *ngFor="let dat of collections" [value]="dat.id">{{dat.id}}-{{dat.description}}</option>
      </select>
            <span class="text-danger" *ngIf="id_collectionInvalid">
        especifique cobro
      </span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label" for="description">Descripcion:</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="descripcion" formControlName="description" [class.is-invalid]="descriptionInvalid">
            <span class="text-danger" *ngIf="descriptionInvalid">
        descripcion no valido
      </span>
        </div>
    </div>

    <div class="form-group row">
        <app-button-create-edit class="col-md-8 input-group" [id]="data.id" (onCancel)="cancel()"></app-button-create-edit>
    </div>
    <pre *ngIf="debug">
      {{forma.status}}
      {{forma.value | json}}
    </pre>
</form>