<app-loading *ngIf="!data"></app-loading>
<form class="col-8 offset-2 text-left" *ngIf="data" autocomplete="off" (ngSubmit)="onAction()" [formGroup]="forma">
    <div class="form-group row">
        <label class="col-2 col-form-label" for="actived">activo:</label>
        <div class="col-2">
            <input class="form-control" type="checkbox" formControlName="actived" [class.is-invalid]="activedInvalid">
        </div>
        <label class="col-2 col-form-label" for="admin">admin:</label>
        <div class="col-2">
            <input class="form-control" type="checkbox" formControlName="admin" [class.is-invalid]="adminInvalid">
        </div>
        <label class="col-2 col-form-label" for="change_password">cambiar Clave:</label>
        <div class="col-2">
            <input class="form-control" type="checkbox" formControlName="change_password" [class.is-invalid]="change_passwordInvalid">
        </div>

    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label" for="nick_name">nick name:</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Nick Name" formControlName="nick_name" [class.is-invalid]="nick_nameInvalid">
            <span class="text-danger" *ngIf="nick_nameInvalid">
        nick name no valido
      </span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">nombre:</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Name" formControlName="name" [class.is-invalid]="nameInvalid">
            <span class="text-danger" *ngIf="nameInvalid">
        usuario no valido
      </span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label" for="email">correo:</label>
        <div class="col-8">
            <input class="form-control" type="email" placeholder="email" formControlName="email" [class.is-invalid]="emailInvalid">
            <span class="text-danger" *ngIf="emailInvalid">
        correo no valido
      </span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label r" for="">tipo de documento:</label>
        <div class="col-8">
            <select class="form-control" formControlName="document_code" [ngClass]="{'is-invalid':document_codeInvalid}">
        <option *ngFor="let doc of documents" [value]="doc.name_short">{{doc.description}}</option>
      </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label" for="">documento:</label>
        <div class="col-8">
            <input class="form-control" type="text" formControlName="document" [ngClass]="{'is-invalid':documentInvalid}">
            <span class="text-danger" *ngIf="confirm_passwordInvalid">
        Documento no valido
      </span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">zona horaria:</label>
        <div class="col-8">
            <input class="form-control" type="number" placeholder="-24 a 24 " formControlName="time_zone" [class.is-invalid]="time_zoneInvalid">
            <span class="text-danger" *ngIf="time_zoneInvalid">
        zona horaria no valida
      </span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label" for="password">clave:</label>
        <div class="col-8">
            <input class="form-control" type="password" placeholder="**********" formControlName="password" [class.is-invalid]="passwordInvalid">
            <span class="text-danger" *ngIf="passwordInvalid">
        Clave no valida
      </span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label" for="confirm_password">confirmar clave:</label>
        <div class="col-8">
            <input class="form-control" type="password" placeholder="**********" formControlName="confirm_password" [class.is-invalid]="confirm_passwordInvalid">
            <span class="text-danger" *ngIf="confirm_passwordInvalid">
        no conciden las claves
      </span>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Tipo</th>
                        <th>Numero</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody formArrayName="tels">
                    <tr *ngFor="let tel of telsArray.controls; let i = index" [formGroupName]="i">
                        <td>
                            <select class="form-control" formControlName="id_tel_descript">
                <option *ngFor="let teld of telds" [value]="teld.id">{{teld.tel_description}}</option>
              </select>
                        </td>
                        <td>
                            <input class="form-control" type="text" formControlName="number" [class.is-invalid]="numberInvalid(i)" />
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button" (click)="removeTel(i)">-</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class=" btn btn-secondary btn-block mb-5" type="button" (click)="addTel()">+</button>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">&nbsp;</label>
        <div class="col-md-8 input-group">
            <button class="btn btn-outline-primary btn-block" type="submit">Crear</button>
        </div>
    </div>
</form>
<pre>
  {{forma.status}}
  {{forma.controls['name'].status}}
  {{forma.value | json}}
</pre>