<app-loading *ngIf="!data"></app-loading>
<h2 *ngIf="data && data.length == 0 ">No se encontraron pagos</h2>
<table class="table table-sm" *ngIf="data && data.length > 0 ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">prestamo</th>
      <th scope="col">creado</th>
      <th scope="col">registrado por</th>
      <th scope="col">valor</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dat of data">
      <th scope="col">{{dat.id}}</th>
      <td>{{dat.id_loan}}</td>
      <td>{{dat.update_at}}</td>
      <td>{{dat.id_user}}</td>
      <td>{{dat.money}}</td>
      <td>
        <app-button-edit (click)="editItem(dat.id,dat.id_loan)"></app-button-edit>
        <app-button-delete (click)="deleteItem(dat.id)"></app-button-delete>
      </td>
    </tr>
  </tbody>
</table>
<pre *ngIf="debug">
      {{data | json}}
</pre>