<table>
    <thead>
        <tr>
            <th>id</th>
            <th>prestamo</th>
            <th>creado</th>
            <th>registrado por</th>
            <th>valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prestamo_pagado of data">
            <td>{{prestamo_pagado.id}}</td>
            <td>{{prestamo_pagado.id_loan}}</td>
            <td>{{prestamo_pagado.update_at}}</td>
            <td>{{prestamo_pagado.id_user}}</td>
            <td>{{prestamo_pagado.money}}</td>
        </tr>
    </tbody>
</table>